.formulario-con-sombra{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: #4786d9;
    width: 100%; /* Puedes ajustar el porcentaje según tus necesidades */
    max-width: 800px; /* Establece un ancho máximo si lo deseas */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
    margin-bottom: 20px;
    border-radius: 5px;

}
.formulario-con-sombra2{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin: auto;
    width: auto; /* Puedes ajustar el porcentaje según tus necesidades */
    background: rgb(30, 64, 175);  /* Establece un ancho máximo si lo deseas */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
}
.boton{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    background-color: #FED375;
    width: 120px;
    height: 45px;
    color: white;
    
}
.input{
    border-radius: 4px;
}
.text-center{
    font-size: 35px;
    color: #ffffff;
    
}

.text-init{
    font-size: 25px;
    color: #FED375;
    background-color: #023E8A;
    flex: auto;
    width: auto;
    height:    auto;
    align-self: center;
}